* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #F6F8F9;
}


.logo img {
    height: 60px;
    margin-top:20px;                        /*logo di Boolean*/
    margin-left: 25px;
}


.logo h1 {
    display: inline-block;
    background-color:white; 
    position: absolute;                      /*La scritta Toboolist*/
    margin-top:30px;
    font-size: 33.5px;  
}


.logo {
    width: 100%;
    height: 100px;
    background-color:white;               /*il background del logo*/
    margin-bottom: 50px;
}

.row {
    width:70%;
    padding: 10px;
    background-color: white;               /*piccolo conenitore centrale */
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contenitore {
    text-align: center;
    padding: 5px;
    background-color: #47ADF1;
    width: 100px;
    height: 30px;
    font-size: 15px;                              /*il testo Add Task */
    font-weight:600;
    color: white;
    border-radius: 5px;
    margin-left: 50px;
}

.row input{
    position: absolute;
    width: 100px;
    height: 30px;                                /*il testo Add section */
    border-radius: 5px;                          
    margin-left: 170px;
    margin-top: -30px;
    text-align: center;
    border: 1px solid rgb(165, 163, 163);
    
}


.container {
    height: 700px;
    width: 70% ;
    margin: 0 auto;
    background-color: white;               /*conenitore centrale */
    margin-top: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.container span {
   font-size: 20px;
   font-weight:600;
   background-color: white;             /*  per ingrandire i carrateri dei ▼ */
   padding: 3px;
   
}
.container li {
    background-color: white;              /*spaziare tra i list item*/
    padding: 5px;
    
}
.space{
   background-color: white;
   width: 100% ;
   font-size: 25px;                          /*spaziare tra i contenuti*/
   padding: 30px;
}

ul.no-bullets {
    list-style-type: none;                    /*tolto i puntini dei list item */
  }

  .cerchio {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid green;                   /*cerchio verde con la v */
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    color: green;
    
  }

  .cerchio-rosso {
    display: inline-block;
    width: 35px;
    height: 35px;                             /*cerchio rosso con la x */
    border: 1px solid red;            
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    color: red;
  }

  #all {
    display: inline-block;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    font-size: 15px;                          /*caratteristiche dei editor */          
    font-weight:600;
    color: white;
    text-align: center;
    padding: 8px;
  }

  .editorial-azzuro {
    background-color: #45ABE9;
  }
 
  .editorial-viola {
    background-color: #9C72E4;
  }

  .editorial-verde {
    background-color: #64C0A9;
  }                                           /*colorazioni dei editor*/ 

  .editorial-arancio {
    background-color: #F29E33;
  }

  .editorial-fucsia {
    background-color:#D863A0;
  }
  .editorial-lime {
    background-color: #B0C926;
  }